@Tiles
#NAME			IDENTIFIER	TYPE


GROUND			    11		1
GROUND-BORDERED		12		1
GROUND-BOTTOM		13		1
GROUND-TOP		    14		1
GROUND-LEFT		    15		1
GROUND-RIGHT		16		1
GROUND-CORNERTL		17		1
GROUND-CORNERTR		18		1
GROUND-CORNERBL		19		1
GROUND-CORNERBR		20		1
GROUND-INLETTOP		21		1
GROUND-INLETBOTTOM	22		1
GROUND-INLETLEFT	23		1
GROUND-INLETRIGHT	24		1


ICE			        25		1
ICE-BORDERED	    26		1
ICE-BOTTOM		    27		1
ICE-TOP			    28		1
ICE-LEFT		    29		1
ICE-RIGHT		    30		1
ICE-CORNERTL	    31		1
ICE-CORNERTR	    32		1
ICE-CORNERBL	    33		1
ICE-CORNERBR	    34		1
ICE-INLETTOP	    35		1
ICE-INLETBOTTOM	    36		1
ICE-INLETLEFT	    37		1
ICE-INLETRIGHT	    38		1


SLIME			    39		4	
SLIME-BORDERED	    40		4
SLIME-BOTTOM	    41		4
SLIME-TOP		    42		4
SLIME-LEFT		    43		4
SLIME-RIGHT		    44		4
SLIME-CORNERTL		45		4
SLIME-CORNERTR		46		4
SLIME-CORNERBL		47		4
SLIME-CORNERBR		48		4
SLIME-INLETTOP		49		4
SLIME-INLETBOTTOM	50		4
SLIME-INLETLEFT		51		4
SLIME-INLETRIGHT	52		4

SNOW		    	53		1
WATER		    	54		2
WATER2		    	55		2
WATER3		    	56		2

ROCK		    	57		2
ROCK-GROUND2    	58		2
ROCK-GROUND3    	59		2
ROCK-SNOW1	    	60		2
ROCK-SNOW2	    	61		2
ROCK-SNOW3	    	62		2

INVISIBLOCK		    99		2


###Penguins

#       	id		speed   health  attackPower 
@Penguin	1       5       30      10
# animations
P1-PAWN-BACK
P1-PAWN-FRONT
P1-PAWN-LEFT
P1-PAWN-RIGHT

#       	id		speed   health  attackPower 
@Penguin	2       4       60      30
# animations
P1-BAZOOKA-BACK
P1-BAZOOKA-FRONT
P1-BAZOOKA-LEFT
P1-BAZOOKA-RIGHT

#       	id		speed   health  attackPower 
@Penguin	3       6       40      20
# animations
P1-SLIDER-BACK
P1-SLIDER-FRONT
P1-SLIDER-LEFT
P1-SLIDER-RIGHT

#       	id		speed   health  attackPower 
@Penguin	4       3       80      10
# animations
P1-GENERAL-BACK
P1-GENERAL-FRONT
P1-GENERAL-LEFT
P1-GENERAL-RIGHT

#       	id		speed   health  attackPower 
@Penguin	5       2       50      40
# animations
P1-HULK-BACK
P1-HULK-FRONT
P1-HULK-LEFT
P1-HULK-RIGHT

#       	id		speed   health  attackPower 
@Penguin	6       5       30      10
# animations
P2-PAWN-BACK
P2-PAWN-FRONT
P2-PAWN-LEFT
P2-PAWN-RIGHT

#       	id		speed   health  attackPower 
@Penguin	7       4       60      30
# animations
P2-BAZOOKA-BACK
P2-BAZOOKA-FRONT
P2-BAZOOKA-LEFT
P2-BAZOOKA-RIGHT

#       	id		speed   health  attackPower 
@Penguin	8       6       40      20
# animations
P2-SLIDER-BACK
P2-SLIDER-FRONT
P2-SLIDER-LEFT
P2-SLIDER-RIGHT

#       	id		speed   health  attackPower 
@Penguin	9       3       80      10
# animations
P2-GENERAL-BACK
P2-GENERAL-FRONT
P2-GENERAL-LEFT
P2-GENERAL-RIGHT

#       	id		 speed   health  attackPower 
@Penguin	10       2       50      40
# animations
P2-HULK-BACK
P2-HULK-FRONT
P2-HULK-LEFT
P2-HULK-RIGHT